<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only Club</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% %> <%if(!user){%>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
        <%}%> <%if(user) {%>
        <li><a href="/create_message">Create Post</a></li>
        <%if(!user.is_member) {%>
        <li><a href="/member_form">Became a member</a></li>
        <%}%>
        <li><a href="/log-out">Log Out</a></li>
        <%} %>
      </ul>
      <% if(user) {%>
      <div class="search">
        <form action="/search_users" method="GET">
          <!-- method is get because we are fetching content from the database using the form -->
          <input
            type="text"
            placeholder="Search users by username"
            name="search_query"
          />
          <button type="submit">Search</button>
        </form>
      </div>
      <% } %>
    </nav>
    <header>
      <h1>
        Welcome to Members Only app<% if(user) {%>, <%=user.username%> <%} %>
      </h1>
      <p><span>Post and read messages from all over the world!</span></p>
    </header>
    <div class="messages">
      <%if(posts && posts.length > 0) {%> <%posts.forEach((post) => {%>
      <ul>
        <li>
          <h3><%=post.message%></h3>
          <% if(user&& user.is_member) {%>
          <p>Posted by: <%=post.username%></p>
          <p>Posted at:<%=post.timestamp%></p>
        </li>
        <% } %>
      </ul>
      <%}) }else { %>
      <p>No posts available.</p>
      <% } %>
    </div>
  </body>
</html>
