<h1>Search Results</h1>

<% if (!found) { %>
<p>No user found.</p>
<% } else { %>
<h2>Posts by <%= posts.username %></h2>

<% posts.posts.forEach(p => { %>
<div>
  <p><%= p.message %></p>
  <small><%= p.timestamp %></small>
</div>
<hr />
<% }); %> <% } %>
